# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/

# Environment variables
.env

# Database
*.db

# FAISS index
faiss_index/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node
node_modules/
dist/
build/